%ul
  - @jobs.each do |job|
    %li
      = link_to (job) do
        %strong.job_title
          = job.title
        %span.description
          = job.description
      = link_to 'Edit', edit_job_path(job)

= link_to 'New Job', new_job_path
