<!DOCTYPE html>
<html>
<head>
  <title>Easyjobs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "print", :media => "print" %>
  <!--[if lte IE 8]>
    <%= stylesheet_link_tag    "ie", :media => "all" %>
  <![endif]-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
